<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="_VOIS TASK">
	<parameter name="Browser" value="chrome"></parameter>
    <test name="Regression" preserve-order="false">
         <classes>
             <class name="tests.Task1_Scenario1"/>
             <class name="tests.Task1_Scenario2"/>
          </classes>
     </test>
</suite> 